*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/
header{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #04afff 100%); 
}

.titleCard{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translate(-15px);
    box-shadow: 0 12 px 16pc rgba(0, 0, 0, .2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}


.title{
    text-align: center;
    padding: auto;
    color: aliceblue;
    font-size: 30px;
    margin-right:50px;
}
/*menu*/

.menu-icon{
    position: fixed;
    top: 55px;
    right: 30px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.menu{
    position: fixed;
    border-radius: 5px;
    top: 50px;
    right: 0;
    width: 15vw;
    height: 90%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translateX(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);  
}

.show-menu{
    transform: translateX(0);
}

.menu a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover{
    font-size: 25px;
}


/*Formulario*/

.inputs{
    width: 400px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.inputs h3{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.datos{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #16d9e3;
    font-size: 15px;
   }

.boton{
    width: 100%;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46adf794 100%);
    border: none;
    padding: 8px;
    color: white;
    margin: 15px 0;
    font-size: 15px;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    cursor: pointer;
}

.boton:hover{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.ul{
    list-style: none;
    margin-bottom: 15px;
}